<p>
  ***Disclaimer: This project is a work in progress. Additional
  plans include statistical analysis of sequences and javascript / Ajax
  implementation.***
</p>

<h1>Sequence Converter</h1>

<div ng-controller="ConverterController">
  <label>Sequence:
    <input type="text" name="input" ng-model="input">
    <button ng-click="SendData()">Submit</button>
  </label>
  <% unless params["inputSeq"].nil? %>
    <p>RNA Sequence: <%= params["inputSeq"] %></p>
  <% end %>
<!--
  <div>**The section below will be removed once the above form is functional**</div>
<form action="/translators" method="post">
  <label for="translator">DNA Sequence</label>:
  <input id="translator" name="dna_seq" required/><br />

  <input type="submit" value="Generate"/>
</form>
<p><% @translator.translate %></p>
<p>Protein Sequence: <%= @translator.parsed_seq %></p> -->

<!-- </div> --> -->
