<p>
  ***Disclaimer: This project is a work in progress. Additional
  plans include statistical analysis of sequences and javascript / Ajax
  implementation.***
</p>

<h1>Sequence Converter</h1>

<div ng-controller="ConverterController">
  <label>Sequence:
    <input type="text" name="dna_seq" ng-model="dna_seq">
    <button ng-click="SendData()">Submit</button>
  </label>

<div id="RNA"> {{ responseData }} </div>
