<h1>Sequence Converter</h1>

<form action="/translators" method="post">
  <label for="translator">DNA Sequence</label>:
  <input id="translator" name="dna_seq"/><br />

  <input type="submit" value="Generate"/>
</form>

<% unless params["dna_seq"].nil? %>
  <p class="translator">RNA Sequence: <%= @translator.rna.transcribe %></p>
  <p><% @translator.translate %></p>
  <p>Protein Sequence: <%= @translator.parsed_seq %></p>
<% end %>
